/build/



#추가추가

build.xml
manifest.mf
nbproject/


#특정 파일들
src/**/*.class

src/**/*.form

src/**/*.jar

lib/

#src/**/*.java

#src/todaylunch/FORM.form


/dist/



src/.vscode/
src/NewJFrametest.java
src/testtest4442.java
